@page
@model SDSCom.Pages.AppMenuModel
@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "SDSComApps Menu";
}

<h2>Application Menu</h2>

UI:         @ViewData["uilanguage"] <br/>
UserName:   @ViewData["username"] <br />
UserID:     @ViewData["userid"] <br />
Comp:       @ViewData["componentid"] <br />
Prod:       @ViewData["productid"] <br />

<form method="post">
    <div id="divMain">


        <div id="divAuthor" class="modcard">
            <div class="card-body">
                <h4 class="card-title">Administration Application</h4>
                <p class="card-text">This is the application you have always wanted for Administration.</p>
                <input type="submit" class="btn-link" asp-page-handler="OpenAdmin" id="hlAdmin" value="Administrator" />
            </div>
        </div>

        <div id="divAuthor" class="modcard">
            <div class="card-body">
                <h4 class="card-title">SDS Authoring Application</h4>
                <p class="card-text">This is the application you have always wanted for Authoring SDSs.</p>
                <input type="submit" class="btn-link" asp-page-handler="OpenAuthor" id="hlAuthor" value="Author" />
            </div>
        </div>
        <br />
        <br />
        <br />
        <input class="btn-default" type="submit" asp-page-handler="AppAbout" id="hlAbout" value="About" />
    </div>

</form>
