@page
@model SDSCom.Pages.Author.ComponentListModel
@{
    ViewData["Title"] = "Component List";
}

<h2>Component List</h2>


<form method="post">

    <input type="submit" class="btn-primary" id="saveEntity" value="Add New" asp-page-handler="AddNew" />

    <div id="divTable">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Other Id</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model.EntityList)
                {
                    <tr>
                        <td>@entity.Id</td>
                        <td>@entity.EntityName</td>
                        <td>@entity.OtherId</td>
                        <td>@entity.DateStamp</td>
                        <td>
                            <button type="submit" asp-page-handler="Edit" asp-route-id="@entity.Id" />Edit
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>



