@page 
@model SDSCom.Pages.Author.CreateEntityModel
@{
    ViewData["Title"] = "CreateEntity";
}

<h2>Create Entity</h2>

<form method="post">
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Name:</label>
            <input id="txtID" asp-for="@Model.Entity.EntityName" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Other ID:</label>
            <input id="txtOtherID" asp-for="@Model.Entity.OtherId" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Entity Type:</label>
            <select asp-for="@Model.Entity.EntityType" class="form-control" id="ddET">
                <option value="1">Product</option>
                <option value="2">Component</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-8">
            <input id="txtDate" type="hidden" asp-for="@Model.Entity.DateStamp" value="12/01/2017" />
            <input id="txtActive" type="hidden" asp-for="@Model.Entity.Active" value="true" />
            <input id="txtUserID" type="hidden" asp-for="@Model.Entity.UserId" value="1" />
            <input type="hidden" id="txtID" asp-for="@Model.Entity.Id" value="0" />
        </div>
    </div>
    <hr />
    <div id="divSaveDelete" class="row">
        <div class="col-sm-4 text-left">
            <input type="submit" class="btn-primary" id="saveUser" value="Save" asp-page-handler="Save" />
        </div>
        <div class="col-sm-8 text-right">
            <input type="submit" class="btn-warning" id="deleteUser" value="Delete" asp-page-handler="Delete" />
        </div>
    </div>

</form>

