@page
@model SDSCom.Pages.Author.ImportModel
@{
    ViewData["Title"] = "Import";
}

UI:         @ViewData["uilanguage"] <br />
UserName:   @ViewData["username"] <br />
UserID:     @ViewData["userid"] <br />
Comp:       @ViewData["componentid"] <br />
Prod:       @ViewData["productid"] <br />

<h2>Import</h2>

<form method="post">
    <div id="divMain">
        <div>
            <input type="submit" class="btn-primary" asp-page-handler="ImportDocs"
                   id="hlImport" value="Import Document(s)" />
        </div>
    </div>
</form>

