@page
@model SDSCom.Pages.Author.SelectProductModel
@{
    ViewData["Title"] = "Select Product";
}


<h2>Product List</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Other Id</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Model.EntityList)
            {
                <tr>
                    <td>@entity.ID</td>
                    <td>@entity.EntityName</td>
                    <td>@entity.OtherId</td>
                    <td>@entity.DateStamp</td>
                    <td>
                        <button type="submit" asp-page-handler="select" asp-route-id="@entity.ID" asp-route-source="@TempData["selectproductcaller"]">Select</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>





