@model SDSCom.Pages.ComponentTestModel


<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="form-actions no-color">
    <p>
        Find by name:
        <input type="text" name="SearchString" value="@Model.CurrentFilter" />
        Find by CAS:
        <input type="text" name="SearchString2" value="@Model.CurrentFilter2" />
        <input type="submit" value="Search" class="btn btn-default" /> |
        <a asp-page="ComponentTest">Back to full List</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="ComponentTest" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Entity[0].EntityName)

                </a>
            </th>
            <th>
                <a asp-page="ComponentTest" asp-route-sortOrder="@Model.CASSort"
                   asp-route-currentFilter2="@Model.CurrentFilter2">
                    @Html.DisplayNameFor(model => model.Entity[0].OtherId)

                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entity)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Entity.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Entity.HasNextPage ? "disabled" : "";
}

<a asp-page="ComponentTest"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Entity.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-currentFilter2="@Model.CurrentFilter2"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="ComponentTest"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Entity.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-currentFilter2="@Model.CurrentFilter2"
   class="btn btn-default @nextDisabled">
    Next
</a>
